<h1>Songs#index</h1>
<p>Find me in app/views/songs/index.html.erb</p>
<h1>Click a Topic To View Content</h1>
<%= link_to 'Create a new song', new_artist_song_path(@artist) %>
<ul>
  <% @songs.each do |song| %>
    <li><%= link_to song.name, [@artist, song] %></li>
  <% end %>
</ul>